@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css");


:root{
    --whiteBGColor: #F2F7FF;
    --yellow: #FDBE34;
    --lighterYellow: #ffd884;
    --navColor: #22577A;
    --footerColor: #112D4E;
    --fontPoppins: 'Poppins';
    --PlainWhite: white;
  
    /*Syntax:   color: var(--whiteBGColor);*/
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: var();
}

.container{
    padding: 0 40px;
    min-height: 90vh;
}

/**Nav Bar**/
.navbarContainer{
    background-color: var(--navColor);
    /*height: 64px;*/
}

.navLogo{
    font-weight: 700;
    font-size: 1.5rem;
}

.navLogo {
    color: var(--yellow) !important;
}

.nav-link{
    color: var(--yellow) !important;
}

.username{
}

.btn-nav-login{
    text-decoration: none;
    height: auto;
    font-weight: 500;
    background-color:  none;
    color: var(--navColor);
    font-weight: 700;
    border-color: none;
}

.btn-nav-signup{
    font-weight: 600;
    padding: 7px;
    height: auto;
    width: 130px;
    border-radius: 50px;
    color: var(--yellow) !important;
    text-decoration: none;
    border-color: var(--whiteBGColor);
}

.btn-nav-login:hover{
    color: var(--footerColor);
}

.btn-nav-signup:hover{
    background-color: var(--navColor);
    border-color: var(--navColor);
    color: white !important;

    /*-webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);*/ 
}
/**-------------------------------------------------------------**/

/* Back to home Link */
.link-home:hover{
    text-decoration: underline !important;
}

/* Nav Menu Buttons */

.sidebar-buttons{
}

.btn-account-settings{
    color: white !important;
}

.nav-menu .btn-account-settings:not(.active){
    color: black !important;
}

.btn-reservations{
    color: white !important;
}

.nav-menu .btn-reservations:not(.active){
    color: black !important;
}

.reservations-content{

}

.account-settings{
    /* position: relative; */
}

/* Cards */
.card{
    background-color: var(--navColor);
    color: white;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 7px 1px 0px rgba(0,0,0,0.13);
}

.card a{
    color: white;
}

.card a:hover{
    color: yellow;
    text-decoration: underline !important;
}

.card-text{
    font-weight: 600 !important;
}

.copy-code{
    background-color: transparent;
    border: none;
    color: white;
    transition: all .2s ease-in-out;
}

.copy-code:hover{
    transform: scale(1.05);
}

.changes-made-toast{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.055) !important;
    border: 4px solid rgba(255, 0, 0, 0.493);
    border-radius: 5px;
    color: rgb(53, 53, 53);
    box-shadow: none;
}

.phone-number-input{
    z-index: -1 !important;
}

.success-input:focus{
    outline: 3px solid rgba(8, 209, 8, 0.712) !important;
}

.failed-input{
    outline: 3px solid rgba(255, 1, 1, 0.383);
}

.edit-phone-number{
    position: relative;
    /* z-index: 999 !important; */
    float: right;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -63px;
}

.save-phone-number{
    display: none;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -63px;
}

.phone-success-message{
    position: relative;
    float: right;
    display: none;
    margin-right: 25px;
    margin-top: -55px;
}

/* Password Change */
.validInput{
    list-style: none;
    color: rgb(74, 168, 74);
    font-size: small;
    font-weight: 700;
}

.validInput:before {
    position: relative;
    left: -10px;
    content: "✔";
}

.invalidInput{
    list-style: none;
    color: rgb(250, 65, 65);
    font-size: small;
    font-weight: 700;
}

.invalidInput:before {
    position: relative;
    left: -10px;
    content: "✖";
}

/* Toggle Password */
.togglePassword{
    float: right;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -40px;
}

.toggleRepeatPassword{
    float: right;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -40px;
}

#result-toast{
    display: inline-block;
    position: fixed;
    bottom: 40px;
    right: 40px;
}