.button-active{
    background-color: #EBF5FF;
    font-weight: bold;
    border-left: 5px solid #3F83F8;
}

.btn:hover{
    background-color: #3f83f81f; 
}

.text-dark{
    color: #374151;
}

/* .sideBar{
    width: 260px;
} */

.low-brightnes{
    filter: brightness(.5);
    pointer-events: none;
    cursor: not-allowed;
}

.disable-button{
  filter: contrast(.5);
  pointer-events: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.hide {
    opacity: 0;
}

.show {
opacity: 1;
}

/* START ACCOUNT CONTENT STYLING  */

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin-left: 300px;
        margin-top: 200px;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 20px;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* END ACCOUNT CONTENT STYLING  */

#success-toast {
    font-weight: bold;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(62, 155, 63);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #success-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


#upload-success-toast {
  font-weight: bold;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(62, 155, 63);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#upload-success-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

    /* Password Match Warning */
  .passwordWarning{
    list-style: none;
  }

  #passwordWarning{
    color: rgb(250, 65, 65);
    font-size: 90%;
    text-align: center;
  }

  .passwordWarningNotMatched{
    color: rgb(250, 65, 65);
    font-size: 90%;
    text-align: center;
  }

  .passwordWarningNotMatched:before{
    position: relative;
    left: -10px;
    content: "✖";
  }

  .passwordWarningMatched{
    color: rgb(74, 168, 74) !important;
    font-size: 90%;
    text-align: center;
  }

  .passwordWarningMatched:before{
    position: relative;
    left: -10px;
    content: "✔";
  }


  /* -------------Loading Spinner-------------------- */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(82, 136, 235);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

#changes-message{
  display: none;
  visibility: hidden;
  z-index: 1;
}

#changes-message.fadeIn {
  display: block;
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;} 
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
  