@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --whiteBGColor: #F2F7FF;
    --yellow: #FDBE34;
    --lighterYellow: #ffd884;
    --navColor: #22577A;
    --footerColor: #112D4E;
    --fontPoppins: 'Poppins';
    --White: #ffffff;
    --GreenColor: #3a970e;

    /*Syntax:   color: var(--whiteBGColor);*/
}

body{
    font-family: 'Poppins';
}

.vectorContainer > h1{
}

.row1{
    height: 100vh;
    
}

.row1{
    background-color: #F2F7FF;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("../assets/user-background-image.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loginFormRow{
    background-color: white;
    border-radius: 15px;
    min-height: 100px;
    max-height: 700px;
    -webkit-box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.76);
    box-shadow: -7px 7px 9px 0px rgba(0,0,0,0.76);
}

/*Form Container*/
.formContainer{ 
    background-color: var(--footerColor);
    padding-top: 70px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    min-height: 100px;
    max-height: 700px;
    color: var(--whiteBGColor);
    /*-webkit-box-shadow: -10px 10px 18px -8px rgba(0,0,0,0.32);
    -moz-box-shadow: -10px 10px 18px -8px rgba(0,0,0,0.32);
    box-shadow: -10px 10px 18px -8px rgba(0,0,0,0.32);*/
}

.loginFormRow h1{
    font-family: var(--fontPoppins);
    font-weight: 900;
}

.form-check-label{
    font-size: 80%;
    font-family: var(--fontPoppins);
    color: #eaf5ff !important;
}

.rememberMeCheckBox{
    color: var(--yellow) !important;
}

.form-control{
    border: 0px !important;
    border-bottom: 2px solid var(--yellow) !important;
    outline: 0 !important;
    background-color: var(--footerColor) !important;
    border-radius: 2px !important;
    color: var(--Black) !important;
    height: 60px !important;
    font-size: 16px !important;
    font-weight: 550 !important;
    padding-top: 35px !important;
}

.form-label{
    text-align: center !important;
    padding-top: 20px !important;
    font-size: 100% !important;
}

.signupLink{
    font-size: 80% !important;
}

.titleLabel{
    letter-spacing: 2px;
}

button{
    width: 100% !important;
}

.btnLogin{
    /* background: linear-gradient(to right, #8e9eab, #eef2f3);
    border-image-slice: 2 !important; */
    background-color: var(--yellow);
    color: var(--footerColor) !important;
    font-family: var(--fontPoppins);
    font-size: large !important;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px !important;
    border: none !important;
    border-radius: 8px;
    width: 100%;
    transition: all 1.5s cubic-bezier(0.19, 0.89, 0.32, 1.28);
}

.btnLogin:hover{
    background-color: var(--GreenColor);
    color: var(--whiteBGColor) !important;
}

.btnBack{
    font-weight: 500;
    border: 2px solid var(--yellow) !important;
    border-radius: 8px;
    width: 100%;
    padding: 10px !important;
    background-color: var(--footerColor);
    color: var(--whiteBGColor) !important;
    letter-spacing: 2px !important;
    transition: all 1.5s cubic-bezier(0.19, 0.89, 0.32, 1.28);
}
.btnBack:hover{
    color: black !important;
    border: 2px solid var(--whiteBGColor) !important;
}

.btnSignup{
    width: 100%;
    background-color: var(--yellow);
    color: var(--footerColor);
    font-family: var(--fontPoppins);
    font-size: large;
    letter-spacing: 2px;
    padding: 10px ;
    border: 2px solid var(--footerColor);
    border-radius: 10px !important;
    transition: all 1.5s cubic-bezier(0.19, 0.89, 0.32, 1.28);
}

.btnSignup:hover{
    background-color: var(--whiteBGColor);
    border: 2px solid var(--whiteBGColor);
    color: black;
}

/*Vector illustration Container*/
.vectorContainer{
    background-color: var(--yellow);
    /* background-image: -webkit-linear-gradient(57deg, #ffff 50%, #ffff 50%); */
    padding: 70px 70px;
    font-size: clamp(.3em, 1em, 2em);
    /* margin-top: -40px; */
    color: var(--footerColor);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 100px;
    max-height: 700px;
    text-align: justify;
}

.vectorLogin{

}

.signupContainer{
    text-align: center;
}

.text-right{
    color: var(--yellow);
    font-size: 90%;
}

.text-right:hover{
    color: var(--White);
}



/*@media (min-width: 1200px) {  
    .vectorContainer {
        padding: 50px;
    }
    .vectorContainer > p{
        font-size: .9em;
    }
  }


@media (min-width: 1800px) {  
    .vectorContainer {
        padding: 70px;
    }
    .vectorContainer > p{
        font-size: 1em;
    }
  }*/